* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #7f8081;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  overflow-x: hidden;
  max-width: 55vw;
  box-shadow: 0 8px 50px rgb(226, 219, 226);
  margin: auto;
  align-self: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  border: 1px solid gainsboro;
  color: #545862;
}

.sync {
  transform: rotate(90deg);
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

.taskadder {
  width: 100%;
  border: none;
  font-size: 20px;
  outline: none;
}

.enter-icon {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  align-content: center;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 20px;
  font-size: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 10px;
}

li p {
  width: 100%;
  margin-left: 5px;
}

.draggable.dragging {
  opacity: 0.1;
  background-color: #7f8081;
}

.drag-btn {
  cursor: move;
}

.trash-btn {
  cursor: pointer;
  display: none;
}

.editing {
  background-color: rgb(136, 241, 198);
}

button {
  width: 100%;
  height: 10vh;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
